<body>
  

<div class="container">
  <div class="pagination">
    {{#if totalPages}}
      {{#if (gt currentPage 1)}}
        <a href="?page={{sub currentPage 1}}" class="prev-arrow">Previous</a>
      {{/if}}

      {{#each (createPagination currentPage totalPages)}}
        <a href="?page={{this}}" class="{{#ifEquals this ../currentPage}}active{{/ifEquals}}">{{this}}</a>
      {{/each}}

      {{#if (lt currentPage totalPages)}}
        <a href="?page={{add currentPage 1}}" class="next-arrow">Next</a>
      {{/if}}
    {{/if}}
  </div>

  <div class="row mt-5">
    {{#each courses}}
      <div class="col-md-4 mb-4">
        <div class="preview-card">
          <div class="preview-card__wrp">
            <div class="preview-card__item">
              <div class="preview-card__img">
                <img src="{{image}}" alt="{{course_name}}">
              </div>
              <div class="preview-card__content">
                <span class="preview-card__code">{{subject}}</span>
                <div class="preview-card__title">{{course_name}}</div>
                <p class="preview-card__text">{{description}}</p>
                <p class="preview-card__status">Trạng thái: {{status}}</p>
                <p class="preview-card__fee">Học phí: {{fee}} VND</p>
                <a href="/course/{{course_id}}" class="preview-card__button">Chi tiết</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</div>
<script src="/js/changepage.js">
</script>
</body>